@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@import "./phoenix.css";

.sort-button-inactive {
    @apply bg-white text-black text-sm shadow border px-1 border-gray-400 rounded active:bg-gray-400;
}

.sort-button-active {
    @apply bg-blue-600 text-white text-sm shadow border px-1 border-gray-400 rounded;
}

.table-header {
    @apply px-6 py-3 text-left font-medium  tracking-wider;
}

.table-header-sm {
    @apply px-4 py-3 text-left font-medium  tracking-wider;
}

.table-row-stat-col {
    @apply px-6 py-4 whitespace-nowrap text-sm;
}

.player-name-filter {
    @apply py-1.5 px-4 bg-white rounded placeholder-gray-400 text-base text-gray-800 appearance-none inline-block w-full shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-600 border border-gray-400;
}

.player-filter-submit-btn {
    @apply ml-2 px-4 bg-gray-100 text-gray-800 font-normal rounded shadow active:bg-gray-400 border border-gray-400 focus:outline-none;
}

.export-csv-btn {
    @apply px-4 py-2 bg-green-600 text-white font-normal rounded shadow active:bg-green-800 focus:outline-none;
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
